body {
  color: navy !important;
  /* background-color: black; */
  background-image: url("../images/background.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 120vh;
}
.wrapper {
  text-align: center;
}

/* W3 Schools button Animation */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 40%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* End of Button Animation */
.answer {
  display: inline-block;
  border-radius: 4px;
  background-color: navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative ;
  top: 60%;
}
.answer:hover {
  background: rgb(171, 206, 44);
}
.answerWrap{
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 31.5%;
}
#restartGame {
  right: 0;
  margin-right: -15px;
}
.restartbtn {
    background-color: navy;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: navy;
  color: white;
  text-align: center;
  display: none;
  position: fixed;
  vertical-align: middle;
  top: 15%;
  left: 45%;
}

img {
  width: 40%;
}
